{% extends 'base.html.twig' %}

{% block title %}Edit Semestre{% endblock %}

{% block body %}
    <h1>Edit Semestre</h1>

    {{ include('semestre/parent_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('semestre_index') }}">back to list</a>

    {{ include('semestre/parent_delete_form.html.twig') }}
{% endblock %}
